<!-- <header id="top-header">
    <span class="siteName">
        <a href="/"  title="Return to home page"><img src="/images/site/icon.png" alt="Icon Page"></a>
    </span>
    <div id="tools">
        <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
    </div>
</header> -->

<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to home page"><img src="/images/site/icon.png" alt="Icon Page"></a>
    </span>
    <div id="tools">
        <% if (locals.loggedin) { %> <!-- Si el usuario ha iniciado sesión -->
            <span>Welcome, <%= accountData.account_firstname %>!</span>
            <a title="Click to log out" href="/account/logout">Logout</a>
            <a title="View your favorites" href="/favorites/list"><img src="/images/site/favoriteIcon.png" alt="Favorites" style="width: 24px; height: 24px;"></a> <!-- Icono de favoritos -->
        <% } else { %> <!-- Si el usuario no ha iniciado sesión -->
            <a title="Click to log in" href="/account/login">LOG IN</a>
        <% } %>
    </div>
</header>
