<!-- <nav class="topnav" id="myTopnav">
    <ul>
        <li>Home</li>
        <li>Custom</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>Truck</li>
        <li href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </li>
    </ul>
</nav> -->

<!-- <div class="menu-icon" onclick="toggleMenu()">&#9776; Menu</div> -->

<nav >
    <%- nav %>
</nav>