    <div class="main-add">
        <h3>FIELD IS REQUIRED</h3>
        
        <form class="addClassForm" action="/inv/add-classification" method="post" onsubmit="return validateForm()">
            <label for="classificationName">Classification Name:</label>
            <label>ALPHABETIC CHARACTERS ONLY</label>
            <!-- <input type="text" id="classificationName" name="classification_name" required> -->
            <input type="text" id="classificationName" name="classification_name" required pattern="[A-Za-z0-9]+" title="Only letters and numbers, no spaces" placeholder="Enter classification">

            <button type="submit">Add Classification</button>
        </form>
    </div>