    <header>
        <h1>Vehicle Management</h1>
    </header>
    <ul class="management-links">
        <li><a href="/inv/add-classification" title="Add New Classification">Add New Classification</a></li>
        <li><a href="/inv/add-inventory" title="Add New Inventory">Add New Vehicle</a></li>
    </ul>