<title><%= title %></title>

    <main class="error-container">
        <img src="/images/site/505.png" alt="Error Background" class="error-background">
        <h1><%= title %></h1>
        <p><%- message %></p>
        <br>
        <a href="/">Return to Home Page</a>
    </main>    
