<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <main class="error-container">
        <img src="/images/site/505.png" alt="Error Background" class="error-background">
        <h1><%= title %></h1>
        <p><%- message %></p>
        <br>
        <a href="/">Return to Home Page</a>
    </main>    
</body>
</html>
